# ---- Quarto ----
_site/
.quarto/

# ---- R ----
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# ---- OS ----
.DS_Store

# ---- Optional: large/raw data ----
data/raw/*
!data/raw/README.md

/.quarto/
**/*.quarto_ipynb
